
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    gap: 28px;
}
.skill-group { 
    background: var(--bg-card); 
    border: 1px solid var(--border);
    border-radius: var(--radius); 
    padding: 28px; 
}
.skill-header { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 8px; 
}
.skill-bar-bg { 
    height: 4px; 
    background:rgb(4, 129, 129);
    border-radius: 4px;
    /*overflow: hidden;*/
}
.skill-bar-fill { 
    height: 100%;
    background: linear-gradient(90deg, var(--accent), rgba(0,212,180,0.5));
    border-radius: 4px; transition: width 1s ease; 
}
.skill-group:hover{
  border-color: rgba(0, 212, 180, 0.4);
    background: var(--accent-dim); 
}



